body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
}
  
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-top: 2rem;
    margin-bottom: 10px;
}
  
.square {
    background: rgba(255, 255, 255, 0.173);
    border: 2px solid black;
    float: left;
    font-size: 4rem;
    font-weight: bold;
    line-height: 5rem;
    height: 5rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 5rem;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
ul{
    margin: 0%;
    padding: 0%;
    padding-top: 1rem;
}
ul li{
    list-style: none;
}  
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.game-info {
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}
button{
    width: 8rem;
    height: 1.5rem;
    margin: 1.5px;
    border: none;
    background-color: rgb(167, 255, 167);
    font-weight: 500;
    border-radius: 10%;
}
#status{
    text-align: center;
    font-weight: 530;
}
header{
    background: linear-gradient(rgb(255, 255, 255),
    rgba(51, 254, 122, 0.169))!important;
    height: 40vh;
    margin: 0;
    margin-bottom: 10vh;
    padding: 0;
    border-radius: 40vh;
}
h1{
    text-align: center;
    margin-top: 20vh;
    font-weight: lighter;
    font-size: 4rem;
}
.letter{
    display: inline-block;
}
h1:hover{
    color: rgba(37, 60, 0, 0.636);
    transition: cubic-bezier(0.23, 1, 0.320, 1) ease-in;
}
h1:hover > .letter:nth-child(1){
    transform: translate(-80%, 40%) rotate(8deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(2){
    transform: translate(80%, -50%) rotate(-12deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(3){
    transform: translate(40%, 70%) rotate(5deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(4){
    transform: translate(50%, -70%) rotate(-20deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(5){
    transform: translate(-40%, 40%) rotate(15deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(6){
    transform: translate(50%, -80%) rotate(-8deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(7){
    transform: translate(-80%, 60%) rotate(8deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(8){
    transform: translate(40%, -60%) rotate(-8deg);
    transition: 800ms;
}
h1:hover > .letter:nth-child(9){
    transform: translate(90%, 60%) rotate(30deg);
    transition: 800ms;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}/*
::-webkit-scrollbar{
    width: 20px !important;   
}

::-webkit-scrollbar-thumb{
    background:  rgba(167, 255, 167, 0.795);
    width: 18px !important;
    height: 200px !important;
    border-radius: 5px;   
}
footer{
    height: 40vh;
}*/